@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Permanent+Marker&display=swap');

.resCardBox{
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: 4rem;
}


.cardContent{
    display: flex;
    justify-content : center ;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 0.171);
}

.title{
    display: flex;
    justify-content : center ;
    margin-top: 1rem;
}

.title h4{
    margin: 0;
    font-family: "Platypi";
    font-size: 3.5rem;
    font-weight: 900;
    text-decoration: .15rem underline black;
}


.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Platypi";
    font-size: 1.5rem;
    font-weight: 600;
}

.day{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.date{
    font-size: 3rem;
    margin: 2rem;
    word-spacing: 1rem;
    padding-right: 2rem;
    
}

.temp{
    font-size: 3rem;
    margin: 2rem;
    word-spacing: 1rem;
    padding-right: 2rem;
}

.tempVar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;
}

.maxT{
    font-size: 2.2rem;
    margin: 2rem;
    word-spacing: .1rem;
    padding-right: 3rem;
}

.minT{
    font-size: 2.2rem;
    margin: 2rem;
    word-spacing: .1rem;
    padding-left: 2rem;
    
}

hr{
    margin:0;
    width: 100rem;
}

.extraInfo{
    width: 60rem;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cond{
    font-size: 2rem;
    margin-right: -2rem;
}

.feels{
    font-size: 2rem;
    margin-left: -3rem;
}

.desc{
    margin-top: 2.4rem;
    font-size: 1.4rem;
    word-spacing: .1rem;
    letter-spacing: .04rem;
}
